.myTitle{

    font-weight: 600 ;
    color: #fad600 ;  
    font-size: 14px ; 


}

.props{

    font-weight: 600 ;
    color: #000 ; 
    font-size: 14px ; 
}

.champ{
    border-radius: 16%;
    width: 9%;
    align-self: center;
    border: 0;
}