.myTitle{

    color: #000 ;  
    font-size: 14px ; 
}

.props{

    
    color: #737373 ; 
    font-size: 14px ; 
}

.champ{
    border-radius: 16%;
    width: 9%;
    align-self: center;
    border: 0;
}