<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Payer
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="login-content" padding>

    <ion-row>
      <h3 style="margin: auto auto; display: table">Information de paiement</h3>
    </ion-row>

      <div class="login-box">
        <form #registerForm>
          <ion-row>
            <ion-col>
              <ion-list no-lines>

                

                <ion-item>
                  <ion-icon name="ios-at-outline" item-left></ion-icon>
                  <ion-input type="text" placeholder="Nom et Prénom" name="email"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-icon name="ios-lock-outline" item-left></ion-icon>
    
                  <ion-input type="text" placeholder="Numéro de la carte" name="password" ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-icon name="ios-lock-outline" item-left></ion-icon>
                    <ion-input type="text" placeholder="CCV2" name="password" size="3"></ion-input>
                  </ion-item>
                <ion-item>
                    <ion-icon name="ios-lock-outline" item-left></ion-icon>
                    <ion-input type="text" placeholder="Mois" name="password" size="2"></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-icon name="ios-lock-outline" item-left></ion-icon>
                      <ion-input type="text" placeholder="Année" name="password" size="4"></ion-input>
                    </ion-item>
    
              </ion-list>
            </ion-col>
          </ion-row>    
   
        </form>
      </div>
      <div class="notMember">
      </div>
      
      
    </ion-content>

  
<ion-footer>
    <ion-button expand="full" >Payer</ion-button>
</ion-footer>