.myTitle{
    font-weight: 600 ;
    color: #000 ;  
    font-size: 14px ; 
    margin: auto auto;
}

.props{
    font-weight: 600 ;
    color: #737373 ; 
    font-size: 14px ; 
    margin: auto auto;
   
}

.center{
    margin: auto auto;
  
}

.champ{
    border-radius: 16%;
    width: 9%;
    align-self: center;
    border: 0;
}